.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.topNav {
  flex: 0 0 auto; /* Ensure top navigation is fixed */
  background-color: #f8f9fc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Ensure it is above the sidebar */
  position: sticky; /* Stick to the top of the screen */
  top: 0;
}

.contentWrapper {
  display: flex;
  flex: 1 1 auto; /* Make sure it takes up the rest of the space */
  overflow: hidden;
}

.sidebar {
  width: 60px;
  //background-color: #ffffff;
  //box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  flex: 0 0 auto; /* Fixed width for sidebar */
  z-index: 999; /* Should be above content, but below top navigation */
}

.mainContent {
    margin-left: 60px; /* Account for the sidebar width */
    padding: 20px;
    overflow-y: auto;
    flex: 1 1 auto; /* Main content should take the rest of the space */
}