.sidebar {
  position: fixed;
  top: 60px; /* Set this to match the height of the top bar */
  left: 0;
  width: 80px;
  height: calc(100vh - 0px); /* Sidebar height minus the top bar height */
  background-color: black;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  //transform: translateX(-50px); /* Initially hide sidebar slightly */
  transition: transform 0.3s ease-in-out;
  z-index: 999;
}

.sidebar:hover {
  transform: translateX(0); /* Bring sidebar fully into view */
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 0;
  align-items: center;
}

.menuItem {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 15px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.menuItem:hover {
  background-color: #f1f3f5;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.icon {
  width: 24px;
  height: 24px;
  object-fit: contain;
}
